.modal-overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.503);
}
.modal-window{
    width: 600px;
    border-radius: 5px;
    background: #fff;
    margin: 110px auto;
    /* test */
    height: 200px;
}

.modal-header{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.modal-title{


}

.modal-close{


}

.modal-body{

}

.modal-footer{
    
}